 .vchinfo {margin:4.4% 3.1%;background:#fff;border:1px solid #b4b4b4;font-size:24px;color:#555555;}
 .vchinfo .prompt {height:90px;line-height:90px;padding-left:3.3%;}
 .vchinfo .h {color:#e0246b;height:74px;line-height:74px;border-bottom: 1px solid #b4b4b4;}
 .vchinfo .form {font-size:20px;margin:3% 4%;height:64px;line-height:64px;border:1px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
 .vchinfo input {border:none;width:70%;float:left;height:40px;margin-top:14px;font-size:18px;}
 .vchinfo .form i {float:left;width:20%; font-style: normal;text-align:right;padding-right:2%;}
 .vchinfo .form i span {color:#ec7865;padding-right:10%;}
 .vchinfo .button {line-height:90px;text-align:center;background:#0090d3;font-size:36px;margin: 3% 4%;height:90px;cursor:pointer;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;color:#fff;}










