<div class="top app-topbar">
    <div class="wrap app-section">
        <div class="btn-back app-back app-btn">返回</div>
        <div class="title title_ice" data-back>免费</div>
    </div>
</div>
<div class="app-content">
    <div class="wrap discount">
        <div class="tishi">以下政策只针对第一次合作的新客户</div>
        <div class="brand" data-factid="951">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150320/142216678.jpg" alt="王力科技门窗">
                <p>中国王力集团<span>所属品牌：王力科技门窗</span></p>
            </div>
            <div class="detailed">
                <p>0加盟费，2万元专卖店门头支持，3万元样品门减免，5万元市场推广支持</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="936">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150314/173440585.jpg" alt="加汇门业">
                <p>浙江加汇门业有限公司<span>所属品牌：加汇门业</span></p>
            </div>
            <div class="detailed">
                <p>1.专营店新品上样：免费</p><p>
            </p><p>2.最高2%返利</p><p>
            </p><p>3.专营店装修最高可享受200元/平米补贴</p><p>
            </p><p>4.工程投标支持</p><p>
            </p><p>5.挂“加汇”门头，即可获3000元补贴</p><p>
            </p><div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="17474">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150316/110453848.jpg" alt="鑫六福木门">
                <p>武义精诚装饰材料有限公司<span>所属品牌：鑫六福木门</span></p>
            </div>
            <div class="detailed">
                <p class="t">样品门免费</p>
                <div class="yx">意向合作</div>
            </div>
        </div>

        <div class="brand" data-factid="1053">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150314/113349780.jpg" alt="好运来门业">
                <p>武义好运来门业有限公司<span>所属品牌：好运来门业</span></p>
            </div>
            <div class="detailed">
                <p>一：样品门来就送</p>
                <p>二：专卖店装修补贴最高10万</p>
                <p>三：门头广告支持3000元</p>
                <p>四：10公分丁级门,双扣边.大钩锁,足板足料惊爆价499元</p>
                <p>五：当地广告宣传支持50%</p>
                <div class="yx">意向合作</div>
            </div>
        </div>

        <div class="brand" data-factid="1046">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150321/001458704.jpg" alt="铁强铜门">
                <p>武义铁强能源科技有限公司<span>所属品牌：铁强铜门</span></p>
            </div>
            <div class="detailed">
                <p class="t">房屋租金我出，样品装修我出！</p>
                <div class="yx">意向合作</div>
            </div>
        </div>

        <div class="brand" data-factid="1057">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150129/162528392.jpg" alt="欧宝丽门业">
                <p>衢州欧宝丽门业有限公司<span>所属品牌：欧宝丽门业</span></p>
            </div>
            <div class="detailed">
                <p class="t">专卖店样品门免费，订样门买1送1</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <img id="first" style="width: 100%" src="http://m.331.11door.com/images/index2.jpg" />
    </div>
</div>