<div class="top app-topbar">
    <div class="wrap app-section">
        <div class="btn-back app-back app-btn">返回</div>
        <div class="title title_ice" data-back>六折区</div>
    </div>
</div>
<div class="app-content">
    <div class="wrap discount">
        <div class="tishi">以下政策只针对第一次合作的新客户</div>
        <div class="brand" data-factid="938">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150319/214556523.jpg" alt="雅安泰安全门">
                <p>浙江雅安诺工贸有限公司<span>所属品牌：雅安泰安全门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门6.5折</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="20398">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150324/132231295.jpg" alt="喜气扬扬门业">
                <p>永康市喜洋洋工贸有限公司<span>所属品牌：喜气扬扬门业</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门6.8折，年终最高3%返利</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <img id="first" style="width: 100%" src="http://m.331.11door.com/images/index2.jpg" />
    </div>
</div>