<div class="top app-topbar">
    <div class="wrap app-section">
        <div class="btn-back app-back app-btn">返回</div>
        <div class="title title_ice" data-back>八折区</div>
    </div>
</div>
<div class="app-content">
    <div class="wrap discount">
        <div class="tishi">以下政策只针对第一次合作的新客户</div>
        <div class="brand" data-factid="963">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150314/155643020.jpg" alt="百年世家非标门">
                <p>永康市百盛门业有限公司<span>所属品牌：百年世家非标门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8折</p>
                <p>公司指定罗马柱大门3款样品，即可8折优惠！签定并完成销售合同业务量，样门免费送！</p>
                <p>凡上3款罗马柱大门即可在政策外另减500元</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="956">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150317/171917752.jpg" alt="九皇工贸">
                <p>浙江九皇工贸有限公司<span>所属品牌：九皇工贸</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8折</p>
                <p>1，区域独家代理权，全部样品门8 折优惠！</p>
                <p>2 店面门头发光字免费赠送！更有高额店面装修补贴</p>
                <p>3. 高额年终返利！</p>
                <p>4.每年至少推出30款新品，随市场而变，更能稳固市场。</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="947">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150314/160256524.jpg" alt="嘉庭不锈钢门">
                <p>永康市嘉庭工贸有限公司<span>所属品牌：嘉庭不锈钢门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8.5折</p>
                <p>1，样品门支持：订4个样品门（4种颜色），前期8.5折优惠。</p>
                <p>2.样品门装好后，样品门图片发回厂里，再返还15%。</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="1054">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150319/084106535.jpg" alt="宝德全非标门">
                <p>武义宝德全工贸有限公司<span>所属品牌：宝德全非标门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8.5折</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="960">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150321/170756490.jpg" alt="美元来非标门">
                <p>永康市美元来工贸有限公司<span>所属品牌：美元来非标门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8.5折</p>
                <p>1，样品门支持：订4个样品门（4种颜色），前期8.5折优惠。</p>
                <p>2.样品门装好后，样品门图片发回厂里，再返还15%。</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <div class="brand" data-factid="1730">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150320/233321175.jpg" alt="银泰">
                <p>武义银泰实业有限公司<span>所属品牌：银泰</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：样品门8.5折</p>
                <p>样品门8折优惠，样品门7天交货</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <img id="first" style="width: 100%" src="http://m.331.11door.com/images/index2.jpg" />
    </div>
</div>