<div class="top app-topbar">
    <div class="wrap app-section">
        <div class="btn-back app-back app-btn">返回</div>
        <div class="title title_ice" data-back>其它优惠</div>
    </div>
</div>
<div class="app-content">
    <div class="wrap discount">
        <div class="tishi">以下政策只针对第一次合作的新客户</div>
        <div class="brand" data-factid="954">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150316/095836107.jpg" alt="春天地板">
                <p>春天集团有限公司<span>所属品牌：春天地板</span></p>
            </div>
            <div class="detailed">
                <p>货款翻倍计划，本次签约客户可享受预存2000元--5000元货款翻倍抵货款，活动主办方提供的500元抵用券可重叠优惠，仅此一次！此活动最终解释权归春天集团所有</p>
                <div class="yx">意向合作</div>
            </div>
        </div>

        <div class="brand" data-factid="943">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150322/200253959.jpg" alt="金凯德集团">
                <p>金凯德集团<span>所属品牌：金凯德集团</span></p>
            </div>
            <div class="detailed">
                <p>金凯德专卖店年度最高装修补贴，样品最低折扣</p>
                <div class="yx">意向合作</div>
            </div>
        </div>

        <div class="brand all" data-factid="961">
            <div class="imgs">
                <img src="http://330.11door.com/uploads/images/20150316/150435570.png" alt="至德木门">
                <p>杭州至德实业有限公司<span>所属品牌：至德木门</span></p>
            </div>
            <div class="detailed">
                <p class="t">优惠政策：所有新老客户参与330招商节活动，活动期间享受如下福利</p>
                <p>1、输入代金券，立减500元。</p>
                <p>2、样品门一律半价：8套以上样品一律5折（成功上样并经公司验证通过后执行）。</p>
                <p>3、预存货款送5%，比如预缴10000，实际可抵10500元货款使用，10000起存，上不封顶。</p>
                <p>4、样品免费送：除上述政策外，所有参与微信转发至德木门330活动的客户均可获得至德木门送出的免漆维真系列新款样品门1套（限50名，预计5月底前全部送完）。</p>
                <p>5、具体活动详询至德木门客服：0571-82537978；13735887818.</p>
                <div class="yx">意向合作</div>
            </div>
        </div>
        <img id="first" style="width: 100%" src="http://m.331.11door.com/images/index2.jpg" />
    </div>
</div>