<div id="app-index-logo" class="app-logo-container">
    <div class="app-logo icon-bg grid-6">
    </div>
    <div class="grid-4 app-top-login">
        <div class="app-btn btn-register">注册</div>
        <div class="app-btn btn-login right">登录</div>
    </div>
</div>
<div class="app-topbar" style="height: 65px;">
    <div class="app-button btn-menu icon-bg grid-2" data-target="category">展 馆</div>
    <div class="app-search grid-6"><input class="input-search icon-bg" type="button"/>

        <div class="search-placeholder app-button" data-target="search">搜索品牌&nbsp;/&nbsp;搜索产品</div>
    </div>
    <div class="app-button grid-2  btn-my icon-bg"><span class="span-my">个人中心</span>

        <div class="container-my" style="display:none;">
            <ul class="ul-my">
                <li data-target="favorite_info">
                    <div class="icon-bg icon-member app-button"></div>
                    <p>我的资料</p>
                </li>
                <li data-target="favorite_love">
                    <div class="icon-bg icon-member app-button"></div>
                    <p>我的需求</p>
                </li>
                <li data-target="favorite_chgpwd">
                    <div class="icon-bg icon-member app-button"></div>
                    <p>密码修改</p>
                </li>
                <li data-target="favorite_product">
                    <div class="icon-bg icon-door app-button"></div>
                    <p>收藏的产品</p></li>
                <li data-target="favorite_vouch">
                    <div class="icon-bg icon-diamond app-button"></div>
                    <p>申领代金券</p></li>
                <!--<li data-target="favorite_brand">
                    <div class="icon-bg icon-diamond app-button"></div>
                    <p>收藏的品牌</p></li>-->
                <li data-target="favorite_cooprate">
                    <div class="icon-bg icon-hand app-button"></div>
                    <p>我的合作意向</p></li>
                <li data-target="favorite_money">
                    <div class="icon-bg icon-money app-button"></div>
                    <p>我的代金券</p></li>
                <li data-target="favorite_message">
                    <div class="icon-bg icon-message app-button"></div>
                    <p>我的留言</p></li>
            </ul>
        </div>

    </div>
</div>
<div class="app-content">
    <div class="app-banner"><img src="images/banner_ice.jpg" width="100%"></div>
    <div class="ice_index">
        <div class="title">折扣区/免费区</div>
        <ul class="detailed">
            <li data-id="other_ice0"><img src="images/ice5.jpg"></li>
            <li data-id="other_ice5"><img src="images/ice1.jpg"></li>
            <li data-id="other_ice6"><img src="images/ice2.jpg"></li>
            <li data-id="other_ice8"><img src="images/ice3.jpg"></li>
            <li data-id="other_iceother"><img src="images/ice4.jpg"></li>
        </ul>
    </div>
</div>