<div class="app-content login_dealers">
    <div class="top app-section">
        <div class="wrap">
            <div class="btn-back app-back  app-button app-btn">返回</div>
            <div class="title" data-back>意向合作</div>
        </div>
    </div>
    <div class="wrap registered">
        {{#if policy.site_desc}}<div id="keywd">{{policy.site_desc}}</div>{{/if}}
        <input type="text" id="phoneNum" readonly="readonly" class="mobile" placeholder="手机号码/330用户名" value="{{custInfo.contact_cellphone}}">
        <input type="text" id="name"  class="name" placeholder="真实姓名" value="{{custInfo.contact_name}}">
        <input type="text" id="address"  class="address" placeholder="经销地址" value="{{custInfo.address}}">
        <input type="text" id="isoem"  class="size x" placeholder="店面大小" value="{{custInfo.isoem}}">
        <span class="dw">平米</span>
        <input type="text" id="year_sum"  class="time x" placeholder="从业年数" value="{{custInfo.year_sum}}">
        <span class="dw">年</span>
        <input type="hidden" id="cust_id" value="{{custInfo.cust_id}}" />
        <style type="text/css">
            #djq {float:left;margin-left:40px;}
            #vouchers {width:380px;height:70px;font-size: 24px;margin-top: 25px;float: left;}
            #djq .dw {width:190px;}
            #djq textarea {float: left;width:530px;height:200px;border-radius:6px;margin-top:25px; font-size: 26px;}

        </style>
        <div id="djq">
         <select id="vouchers" class="valid">
            <option value="11111111" selected="selected">无</option>
             {{#each vouchers}}<option value="{{vuse_id}}">{{voucher_id}}</option>{{/each}}
         </select>
            <span class="dw">代金券ID</span>
            <textarea id="vouchMsg" placeholder="留言内容"></textarea>
        </div>
        <button id="confirm" type="submit">确认合作</button>
    </div>
    <div class="wrap note">
        <p><a href="javascript:void(0);" id="mycoop" >我的意向合作</a><a href="javascript:void(0);" id="myvch">申领代金券</a></p>
        <p>3·30门业招商节运营中心—上门网</p>
    </div>
</div>