<div class="app-logo-container app-topbar">
    <div class="grid-3">
        <div class="app-button app-back go-back app-btn">返回</div>
    </div>
    <div class="grid-4 topbar-title" style="text-align: right; height: 100%;">
        3.30特色门馆
    </div>
    <div class="grid-3">
        <div class="app-button btn-category">分类</div>
    </div>
</div>
<div class="app-content merchant-cont-container">
    <div class="loading"></div>
    <div class="merchant-content">
        <div id="merchant-unique-left" class="merchant-unique-left">
            <ul id="mer-unique-ul" class="mer-unique-ul">
                {{#each list}}
                <li data-id="{{cat_id}}"  class="{{#compare @index '===' 0}}current{{/compare}}" >{{cat_name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="merchant-unique-right">
            <div id="merchant-unique-right-inner" class="merchant-unique-right-inner">
                <ul class="mer-unique-right-ul">
                    <li data-id="{{product_id}}" cust-id="{{cust_id}}" style="padding-bottom: 30px;">
                        <div class="mer-unique-img">
                            <img src="{{CONST 'PIC_URL'}}/{{picUrl img_path 3}}" alt="" height="300"/>
                        </div>
                        <div class="mer-unique-title app-btn">
                            {{title}}
                        </div>
                        <div class="mer-unique-info">
                            产品特点：{{{recom_desc}}}
                        </div>
                        <div class="mer-unique-price">
                            <span class="text-price">{{price}}</span>
                            丨 <span class="icon-bg icon-collect"></span>收藏
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="app-bottombar-cover"></div>
<div class="app-bottombar">
    <ul class="bottombar-ul">
        <li data-target="home">
            <span class="icon-bg icon-bottombar-home"></span>
            <span class="bottombar-text">首页</span>
            <span class="icon-bg icon-bottombar-sep"></span>
        </li>
        <li data-target="login_dealers"><span class="icon-bg icon-bottombar-login"></span>
            <span class="bottombar-text">登录</span>
            <span class="icon-bg icon-bottombar-sep"></span></li>
        <li data-target="register_dealers"><span class="icon-bg icon-bottombar-register"></span>
            <span class="bottombar-text">注册</span>
            <span class="icon-bg icon-bottombar-sep"></span></li>
        <li data-target="search"><span class="icon-bg icon-bottombar-search"></span>
            <span class="bottombar-text">搜索</span>
        </li>
    </ul>
</div>