<div id="factory">
    <div class="app-logo-container app-topbar" style="height: 86px;">
        <div class="header">
            <a class="fl app-back go-back app-btn" href="javascript:void(0)">返回</a>
            <img class="fl logo" src="images/logo.jpg" alt="330门业招商节">

            <div class="fr hall">展馆</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="app-content">
        <div id="include_header"></div>
        <div class="search-blank x">
            <div class="search-blank-title">空白区域<i></i></div>
            <div class="search-blank-cont">
                <div class="province">
                    {{#each provs}}
                    <a href="javascript:void(0);" data-id="{{area_id}}" >{{area_name}}</a>
                    {{/each}}
                    <div class="clear"></div>
                </div>
                <div class="blank_area">
                    <div class="blank_area_title">{{brandName}}<span id="curProv" class="red"></span>的空白区域：</div>
                    <div style="font-size: 24px" ><span class="b red">红色区域</span>表示<span style="font-weight: bold">{{brandName}}</span>需要招商的区域</div>
                    <div class="blank_area_content">
                    </div>
                </div>
            </div>
        </div>
        <div class="message"><div class="loading-text">拼命加载中...<a href="javascript:App.load('brand_blank');">刷新页面</a></div></div>

        <!--页脚-->
        <div class="app-section merchant-footer">
            <p>①2015 浙B2-20050229-3 用户反馈中心</p>
            <img src="images/bottom-logo.png" alt="手机 3月30日"/>

            <div><strong>足不出户逛展会</strong></div>
        </div>
    </div>
    <div class="app-bottombar">
        <div class="bottombar-cover"></div>
        <div class="bottombar">
            <ul class="bottombar-ul">
            </ul>
        </div>
    </div>
</div>
