<li data-url="home" class="app-btn">
    <span class="icon-bg icon-bottombar-home"></span>
    <span class="bottombar-text">首页</span>
    <span class="icon-bg icon-bottombar-sep"></span>
</li>
<li data-url="search" class="app-btn">
    <span class="icon-bg icon-bottombar-search"></span>
    <span class="bottombar-text">搜索</span>
    <span class="icon-bg icon-bottombar-sep"></span>
</li>
<li data-url="register_dealers" class="app-btn">
    <span class="icon-bg icon-bottombar-register"></span>
    <span class="bottombar-text">注册</span>
    <span class="icon-bg icon-bottombar-sep"></span>
</li>
<!--<li data-url="login_dealers" class="app-btn"><span class="icon-bg icon-buttombar-login"></span>
    <span class="buttombar-text">登录</span>
    <span class="icon-bg icon-buttombar-sep"></span></li>-->