<li data-url="brand_cooperate" class="app-btn" id="toCoop" data-factid="{{factId}}"  style="width:50%;text-align:center;">
    <span class="icon-bg icon-bottombar-home"></span>
    <span class="bottombar-text">意向合作</span>
    <span class="icon-bg icon-bottombar-sep" style="float:right;margin-top:10px;"></span>
</li>
<li data-url="" class="" style="width:50%;text-align:center;">
    <a href="tel:{{facPhone}}" style="color:#fff;display:inline-block;">
        <span class="icon-bg icon-bottombar-login"></span>
        <span class="bottombar-text">电话</span>
    </a>
    <span class="icon-bg icon-bottombar-sep" style="float:right;margin-top:10px;"></span>
</li>
<!--
<li data-url="login_dealers" class="app-btn page-load" style="width:25%;text-align:center;">
    <span class="icon-bg icon-bottombar-login"></span>
    <span class="bottombar-text">登陆</span>
    <span class="icon-bg icon-bottombar-sep" style="float:right;margin-top:10px;"></span></li>
<li data-url="register_dealers" class="app-btn page-load" style="width:25%;text-align:center;">
    <span class="icon-bg icon-bottombar-login"></span>
    <span class="bottombar-text">注册</span></li>
-->
