<div class="company x">
    <div class="tip" style="padding: 20px;text-align: center;color: #888;font-size: 24px;">提示：点击图片或企业名称查看详细</div>
    <div class="factory_logo" style="text-align: center;"><img src="{{CONST 'PIC_URL'}}/{{$ logo_img ''}}" alt="330门业招商节"></div>
    <div class="name">企业名称：{{cust_name}}</div>
    <div class="certificate">
        <div class="zs">工商认证：</div>
        <div class="zs"><img height="42" src="{{CONST 'PIC_URL'}}/{{reg_no_path}}"></div>
        <div class="zs z"><img height="42" src="{{CONST 'PIC_URL'}}/{{reg_no}}"></div>
    </div>
    <div class="data">
        <ul>
            <li>注册资金：{{reg_money}}</li>
            <li class="number">员工人数：{{staff_num}}人</li>
            <li class="area">厂房面积：{{isoem}}</li>
            <li class="production">年产量：{{year_sum}}</li>
            <li class="product"><p class="l">主营产品：</p>

                <P class="r">{{temp_code}}</P></li>
        </ul>
    </div>
    <div class="prompt">此品牌已加入3·30经销商合作保障计划</div>
</div>