<div class="app-content">
    <div class="product-search-title"><a class="fl btn-back app-back go-back" href="javascript:void(0)">返回</a><span class="fl titlename">产品类型/价格筛选条件</span><div class="fr button">确定</div><div class="clear"></div></div>
    <div class="product-search-cont">
        <div class="product-type">
            <div class="product-type-title">产品类型：<span class="name">铸铝门</span></div>
            <div class="product-type-cont">
                <ul class="cate-pro-ul">
                    <li id="product800001">全部产品</li>
                    <li id="product800002">防盗安全门</li>
                    <li id="product800003">防火门</li>
                    <li id="product800004">拼接门</li>
                    <li id="product800005">装甲门</li>
                    <li id="product800006">仿铜门</li>
                    <li id="product800007">铜门</li>
                    <li id="product800008" class="current">铸铝门</li>
                    <li id="product800009">铜铝门</li>
                    <li id="product800010">不锈钢门</li>
                    <li id="product800011">木门</li>
                    <li id="product800012">原木门</li>
                    <li id="product800013">实木门</li>
                    <li id="product800014">实木复合门</li>
                    <li id="product800015">橡木门</li>
                    <li id="product800016">防盗门锁</li>
                    <li id="product800017">生态木门</li>
                    <li id="product800018">钢质木门</li>
                    <li id="product800019">免漆门</li>
                    <li id="product800020">铝合金门</li>
                    <li id="product800021">合金铜门</li>
                    <li id="product800022">别墅大门</li>
                    <li id="product800023">纯铜门</li>
                    <li id="product800024">科技铜门</li>
                </ul>
            </div>
        </div>
        <div class="product-price">
            <div class="product-price-title">产品价格：<span class="name">0-300</span></div>
            <div class="product-price-cont">
                <ul class="cate-pro-ul">
                    <li id="price800001">全部价格</li>
                    <li id="price800002" class="current">0-300</li>
                    <li id="price800003">300-500</li>
                    <li id="price800004">500-800</li>
                    <li id="price800005">800-1200</li>
                    <li id="price800006">1200-1800</li>
                    <li id="price800007">1800-3000</li>
                    <li id="price800008">3000以上</li>
                    <li id="price800009">中低档</li>
                    <li id="price800010">中高档</li>
                    <li id="price800011">高档品</li>
                    <li id="price800012">奢侈品</li>
                </ul>
            </div>
        </div>
    </div>
</div>