<div class="app-content login_dealers">
    <div class="top app-section app-topbar">
        <div class="wrap">
            <div class="app-back btn-back app-btn">返回</div>
            <div class="title" data-back>密码修改</div>
        </div>
    </div>
    <div class="wrap registered">
        <input type="password" id="oldpwd"  class="password" placeholder="旧密码" >
        <input type="password" id="newpwd"  class="password" placeholder="新密码" >
        <input type="password" id="cfmpwd"  class="password" placeholder="确认密码" >
        <button id="chgpwd" type="submit">修　改</button>
    </div>
    <div class="wrap note" style="padding-bottom:400px;">
       <!-- <p><a href="#">我的收藏夹</a><a href="#">修改密码</a></p>-->
        <p>3·30门业招商节运营中心—上门网</p>
    </div>
</div>