<div class="app-content login_dealers">
    <div class="top app-section app-topbar">
        <div class="wrap">
            <div class="app-back btn-back app-btn">返回</div>
            <div class="title" data-back>抵金券申领</div>
        </div>
    </div>
    <div class="wrap registered" id="my">
        <div id="vouchers">
        <button id="getVch" type="submit">免费申领代金券</button>
        <div id="newvchs">你已拥有了<span id="hasvch">{{hasVch}}</span>张抵金券，还可以申领<span id="leftvch">{{leftVch}}</span>张。
            <a style="display:block;color:#000;" id="viewvch" href="javascript:void(0);">立刻查看></a>
        </div>
            <div class="benefits">
                <p class="title">代金券的好处</p>
                <p>1、代金券可在和厂家合作中使用，可抵用500元现金</p>
                <p>2、通过本平台<span>点击意向合作</span>提交合作时使用，那么就可在厂家优惠政策的基础上再减免500元。</p>
                <p>3、代金券仅限<span>新客户第一次合作</span>使用有效</p>
                <p>4，通过本平台使用代金券交易成功后，可受330跟进保证高品质交易</p>
                <p>5、每个经销商最多可拥有2张代金券</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer_mes" style="margin-top:100px;">
        </div>
    </div>
</div>