<div class="login_dealers">
    <div class="top app-topbar">
        <div class="wrap app-section">
            <div class="btn-back app-back  app-button app-btn">返回</div>
            <div class="title" data-back>经销商资料修改</div>
        </div>
    </div>
    <div class="app-content wrap registered">
        <input type="text" name="" class="name" placeholder="真实姓名">
        <input type="text" name="" class="address" placeholder="经销地址">
        <input type="text" name="" class="size x" placeholder="店面大小">
        <span class="dw">平米</span>
        <input type="text" name="" class="time x" placeholder="从业年数">
        <span class="dw">年</span>
        <button type="submit">修　改</button>
        <div class="wrap note">
            <p><a id="collect" href="#" >我的收藏夹</a><a id="chgpwd" href="javascript:;">修改密码</a></p>
            <p>3·30门业招商节运营中心—上门网</p>
        </div>
    </div>
</div>